html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    font-size: 16px;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
video {
    display: block;
    max-width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

button,
select {
    outline: none;
    font-family: "Poppins", sans-serif;
    /* font-size: 16px; */
    line-height: 1;
    border: 0;
}

input {
    line-height: normal;
}

button {
    cursor: pointer;
    border: 0;
}

:root {
    --title-big-color: #069c54;
    --title-small-color: #393939;
    --text-color: #707070;
    --hover-color: #069c54;
    --bg-color: #069c54;
    --bg-1-color: #048654;
    --color: #fff;
    --h2-data-title: 64px;
    --h3-sub-title: 36px;
    --txt-span-color: #069c54;
    --mt-0: 10px;
    --mt-1: 15px;
    --mt-2: 20px;
    --mt-3: 25px;
    --mt-4: 30px;
    --mb-0: 10px;
    --mb-1: 15px;
    --mb-2: 20px;
    --mb-3: 25px;
    --mb-4: 30px;
    --font-bold-1: 300;
    --font-bold-2: 500;
    --font-bold-3: 600;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
}

.button {
    padding: 6px 30px;
    background-color: var(--bg-color);
    color: #fff;
    border-radius: var(--mt-2);
    margin-top: var(--mt-3);
}